/* ===================== Prevent Navbar From Scrolling ===================== */
.main-header {
    position: fixed !important;
    width: 100%;
}
/* =================== content of any page ============== */

.content {
    /* margin-top: 30px !important; */
    margin-top: 40px;
}

/* /. ================== content of any page ================ */
.modal-dialog {
    background: green;
    border-radius: 5px;
}
/* for login-page */
.login-box {
    min-height: 200px;
    min-width: 300px;
    background: white;
    text-align: center;
    padding: 20px 15px;
    margin-top: 130px !important;
}
.login-box-body {
    background: white !important;
}

/* user-reg_for */
#reg_user {
    margin: auto;
}

.sale-list > div {
    padding: 3px;
}
.tbl-sales-label {
    margin-top:10px;
}
/* /.sale-lists */

/* select-element for choosing customers */
#choose-customer {
    margin: auto;
}
/* Customer-transaction */
 .cust-transaction {
     text-align: center !important;
 }
/* /. Customer-transaction */
/* Customer-profile */
#customer-profile-form {
    padding: 10px;
}
/* Customer-profile, about area */
.invoice-info address strong {
    color:rgb(95, 132, 201);
}
.invoice-col > b#inv-id {
    color:rgb(95, 132, 201) !important;
}

/*=============================================
=            MODALS            =
=============================================*/
h5 {
    text-align: center;
    font-weight: bold;
}


/*=============================================
=            Header of any modal            =
=============================================*/

.modal-header {
    background: rgb(80, 139, 179);
    color:white;
}

/*=====  End of Header of any modal  ======*/

/* ============= User-profile ================ */

#user_profile_box {
    min-height: 550px;
    padding: 30px;
}
/* profile-image */
#user_profile_img, #company_logo_img, #specific_company_logo, #any_user_img, #any_system_admin_img, #img_customer{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    opacity: 0.7;
}
#user_profile_photo {
    display: none;
}
/*=============================== ANY-USER change by SYSTEM-ADMIN ==============================*/
#any_user_photo {
    display: none;
}
/*=============================== /. ANY-USER change by SYSTEM-ADMIN ==============================*/
/* ============================= ANY-SYSTEM-ADMIN changed by SUPER-ADMIN =======================*/
 #any_system_admin_photo {
     display: none;
 }
/* ============================= /. ANY-SYSTEM-ADMIN changed by SUPER-ADMIN =======================*/


/* =========================================== LOGO of company ==================================== */
.modal-body input[type="file"], #company_logo, #clogo, #customer_photo {
    display: none;
}
#form_company_logo {
    margin-left: 100px;
}

/* It should check whether it is related to any profile or just for user */
.custom-upload {
    padding: 20px;
    color:  gray;
    background: rgb(238, 236, 236);
    border-radius: 5px;
}

/* =========== Company Logo */
.logo-custom-upload {
    color:  gray;
    background: rgb(238, 236, 236);
    border-radius: 5px;
}
/* =============== /. Company-logo =================== */
.custom-upload:hover {
    border: 1px solid rgb(238, 236, 236);
    box-shadow: 1px 1px 2px grey;
}

#choose-profile-photo {
    margin: auto;
    text-align: center;
}
/* #user_avatar {
    border-radius: 50%;
    border: 1px solid rgb(80, 139, 179);
    padding: 5px;
} */

.content-wrapper {
    background: #72e272
}

/* ==================================== SALES PAGE DESIGN ======================================*/

.tbl-sales-label th {
    text-align:left;
    width: 30px;

}

#box_cart {
    padding: 10px;
}
#total_area {
    margin-right: -10px;
}
.lbl_payment {
    text-align: center !important;
}
/* ==================================== /. SALES PAGE DESIGN =================================== */

/* ================================= ASTERISK for validation ============================== */
.asterisk {
    color:red;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}






